* {
    margin: 0;
    padding: 0;
}

/* TODOS LOS H IGUALES */
h2 {
    text-align: center;
    font-family: sneakers-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    padding: 4vh;
    color: #0D0D0D;
}

h1 {
    text-align: center;
    font-family: sneakers-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    padding: 2vh;
    color: #0D0D0D;
}

h3 {
    text-align: center;
    font-family: sneakers-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    padding: 2vh;
    color: #0D0D0D;
    
}

/* header no index */

.color__link {
    color: #A6A6A6 ;
    text-decoration: solid;
}

.header__portada {
    display: grid;
    grid-template-rows: 25vh;
    grid-template-columns: 100%;
}

.imagen__portada {
    display: flex;
    justify-content: stretch;
    align-content: stretch;
    width: 100%;
    height: 25vh;
}

.tabla__menu {
    height: 5vh;
    border-width: 10px;
    border-style: double;
    border-color: #595959;
    background-color: #262626;
    font-family: sneakers-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    position:sticky;
    display: flex;
    align-content: center;
    justify-content: center;
}

.li__no__index {
    display: inline;
    margin-inline: 35px;
    padding-inline: 35px;
}

/* FOOTER IGUAL PARA TODOS */
.footer__tamaño {
    display: grid;
    grid-template-rows: 10vh;
    grid-template-columns: 100%;
}

.tabla__footer {
    height: 10vh;
    border-width: 10px;
    border-style: double;
    border-color: #595959 ;
    background-color: #A6A6A6;
}

.icono__wsp {
    height: 5vh;
    width: 5vh;
}

.icono__insta {
    height: 5vh;
    width: 5vh;  
}

.text {
    font-family: sneakers-pro, sans-serif;
    font-style: normal;
    font-size: xx-large;
    color: #0D0D0D;
}
.li__footer {
display: flex;
justify-content: center;
align-content: center;
width: 100%;
}

.display__inline__footer {
display: inline;

}

/* CSS INDEX */


header {
    display: grid;
    grid-template-rows: 5vh ;
    border-width: 10px;
}
    

.main__index {
    display: grid;
    grid-template-rows: 100vh;
}


.imagen {
    display: flex;
    align-content: stretch;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

 .ul__index {
    height: 5vh;
    border-width: 10px;
    border-style: double;
    border-color: #595959;
    background-color: #262626;
    font-family: sneakers-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    position:sticky;
    display: flex;
    align-content: center;
    justify-content: center;
}

.li__index {
display: inline;
margin-inline: 35px;
padding-inline: 35px;



}
/* CSS EQUIPO */



.main__equipo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5vh;
    background-image:linear-gradient(180deg, rgba(191,191,191,1) 0%, rgba(166,166,166,1) 50%, rgba(89,89,89,1) 100%);
}

.img__barberos {
width: 50vh;
height: 50vh;
}

.nombres__barberos {
    text-align: center;
    font-family: sneakers-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    padding: 2vh;
    color: #0D0D0D;
}

/* CSS GALERIA */



.main__galeria {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh;
    background-image:linear-gradient(180deg, rgba(191,191,191,1) 0%, rgba(166,166,166,1) 50%, rgba(89,89,89,1) 100%);
}
.tabla__imagenes__galeria {
display: flex;
align-content: center;
justify-content: center;

}

.img__cortes {
    width: 30vh;
    height: 30vh;
    border-width: 2px;
    border-style: solid;
    border-color: #0D0D0D;
    margin-bottom: 5vh;
    transform: skew(5deg,5deg);
}

   /* CSS EVENTOS */

.main__eventos {
    display: grid;
    grid-template-rows: 10vh;
    grid-template-columns: 100%;
    background-image:linear-gradient(180deg, rgba(191,191,191,1) 0%, rgba(166,166,166,1) 50%, rgba(89,89,89,1) 100%);

}

.imagen__eventos {
    height: 40vh;
    width: 70vh;
    border-width: 2px;
    border-style: solid;
    border-color: #0D0D0D;
    margin-bottom: 5vh;
    
}
.centrar__eventos {
display: flex;
align-content: center;
justify-content: center;
}

.videos__eventos {
    height: 40vh;
    width: 71vh; 
    margin-bottom: 5vh;  
}

/* CSS CONTACTO */
.main__contacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh;
    background-image:linear-gradient(180deg, rgba(191,191,191,1) 0%, rgba(166,166,166,1) 50%, rgba(89,89,89,1) 100%);
}

.centrar__contacto {
    display: flex;
    align-content: center;
    justify-content: center;
    }

.mapa__posicion {
height: 60vh;
width: 60vh;
}
.centrar__lista {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5vh;
    }

/* full responsive */
/* media queries index*/
